
h2 {
  color: white;
  font-family: 'Abril Fatface', cursive;
  margin: 35px;
}

.App-header {
  background-color: rgb(2, 22, 88);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header
}

.appheader {
  background-color: rgb(2, 22, 88);
  grid-column-start: 1;
  grid-column-end: span col4-start;
}

.App {
  text-align: center;
  background-color: rgb(2, 22, 88);
  background-image: url("https://images01.military.com/sites/default/files/styles/full/public/media/global/newscred/2017/04/us-flag-21-apr-2017.jpeg.jpg?itok=TGwBeaGn");
  background-size: cover;
  background-position: bottom;
  height: 300vh;
  display: grid;
  grid-template-rows: 300px auto;
  /* grid-template-columns: 1fr 1fr; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

form {
  padding: 25px ;
  /* grid-area: .; */
}

label {
  color: black;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
  /* color: white; */
}

a {
  color: white;
  font-weight: bold;
}

a.card-link {
  color: rgb(2, 22, 88)
}

.active{
  color: red;
}

ul {
  list-style-type: none;
}

body {
  background: transparent;
}

card {
  display: inline-block;
}

#sen {
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
}

#rep {
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
}

#cans {
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);
  margin: 10px;
}

#profile {
  background-color: rgba(255, 255, 255, .7);
  display: inline-block;
  margin-left: 38%;
}

.Register {
  background-color: rgb(2, 22, 88, .5);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
